@import '~antd/dist/antd.css';
*{
  margin:0;
  padding:0;
}

html,body{
  height: 100vh;
  width: 100vw;
}
.logo {
  float: left;
  color: aliceblue;
  font-size: 18px;
}

.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}

.flex-setting {
  display: flex;
  /* flex-direction: row-reverse; */
  margin-left: auto;
  /* width: 100%; */
}

.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  /* background-color: #1890ff; */
  background: none;
}

.footer{
  /* background:#dfdfe2; */
  background:#dfdfe2;
   text-align: center;
   margin-top:auto
}

